@import "styles/variables";

.container {
	width: 100%;
}

.link {
	text-decoration: none;
}

.items {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	gap: $gutter;
}
